<div class="page">
    
	<div class="body">
	<div class="inner-body">
		<div class="mannakorn-holder">
			<div id="mannakorn">
				<img src="img/quotation-mark.png" class="quotation-mark before" />
				<div class="content" ng-repeat="verse in mannakorn.verses">
        			<span class="item"><span class="number">{{verse.number}}</span> {{verse.text}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    			</div>
				<img src="img/quotation-mark.png" class="quotation-mark after" />
        		<h4 class="verse">{{mannakorn.description}}</h4>
			</div>
		</div>
	</div>
	</div>
	
	<footer>
		<div class="left">
			<a class="button" ng-tap="randomVerse()">{{resource.refreshButton_Text}}</a>
		</div>
		<div class="right">
			<a href="{{changeLanguageLink}}">{{resource.changeLanguageButton_Text}}</a>
		</div>
	</footer>

</div>