<div class="page">
	<header>
		<h2 class="app-title">Mannakorn</h2>
	</header>
	
	<div class="body">
	<div class="inner-body">
		<div class="mannakorn-holder">
			<div id="mannakorn"><!-- &bdquo; -->
				<img src="img/quotation-mark.png" class="quotation-mark before" /><!-- This has to be replaced with a graphic since it's not websafe -->
				<div class="content" ng-repeat="verse in mannakorn.verses">
        			<span class="item"><span class="number">{{verse.number}}</span> {{verse.text}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    			</div>
				<img src="img/quotation-mark.png" class="quotation-mark after" /><!-- &rdquo; -->
        		<h4 class="verse">{{mannakorn.description}}</h4>
			</div>
		</div>
	</div>
	</div>
	
	<footer>
		<div class="left">
			<button class="btn" ng-click="randomVerse()">{{resource.refreshButton_Text}}</button>
		</div>
		<div class="right">
			<a href="{{changeLanguageLink}}">{{resource.changeLanguageButton_Text}}</a>
		</div>
	</footer>

</div>